{% extends "base/base.html" %}
{% load static %}
{% block title %}
  الرسائل
{% endblock title %}
{% block content %}

<div class="container">
    <h2>Contact Messages</h2>
    <div class="row">
        {% for message in messages %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ message.name }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ message.email }}</p>
                    <p class="card-text"><strong>Message:</strong> {{ message.message }}</p>
                    <p class="card-text"><strong>Date:</strong> {{ message.created_at }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <div class="alert alert-info" role="alert">
                No messages found.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
