{% extends "base/base.html" %}
{% block title %}
    الرسائل
{% endblock title %}
{% block content %}
    {% include "account/sidebar.html" %}

    <h1 class="text-center fw-bold mt-3 text-gold">الرسائل</h1>
    <div class="row justify-content-center me-5 pe-5">
        <div class="col d-flex flex-wrap gap-3 py-5 mx-4">
            {% for message in messages %}
                <div class="mas border-1 p-5 rounded-3 ">
                    <h4>{{ message.full_name }}</h4>
                    <h4>{{ message.email }}</h4>
                    <p>{{ message.subject }}</p>
                    <p>{{ message.created_at }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
        .mas {
            background-color: rgb(255, 255, 255);
            width: 400px;

        }
    </style>
{% endblock content %}
