{% extends "base/base.html" %}
{% load static %}
{% block title %}
  اتصل بنا
{% endblock title %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2 class="mb-4 text-center">دعنا نبقى على تواصل</h2>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">الاسم</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">البريد الإلكتروني</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">عنوان الموضوع</label>
          <input type="text" class="form-control" id="subject" name="subject" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">الرسالة</label>
          <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <div class="d-grid">
            <input type="submit" class="btn  my-2 text-white" style="background-color:#113345;" value="سجل" />
        </div>        
      </form>
    </div>
  </div>
</div>
{% endblock %}
