{# djlint:off H030,H031,H006 #}
{% extends "base/base.html" %}
{% block title %}
  index
{% endblock title %}
{% block content %}
  <div class="logo">
    <img src="https://pbs.twimg.com/card_img/1779040227560132608/kNKnaAAe?format=jpg&name=small"
         alt="">
  </div>
  <div class="whous">
    <h3 class="py-2">من نحن</h3>
    <p class="py-2 fs-4">
      فاهم هي منصة إلكترونية تعنى بالوساطه لتقديم الاستشارات والخدمات القانونية من خلال ربط نخبة من المحامين المرخصين
    </p>
  </div>
  
{% endblock content %}
