{# djlint:off H030,H031,H006,H021 #}
{% extends "base/base.html" %}
{% load static %}
{% block title %}
  الرئيسية
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static "css/index_style.css" %}">
{% endblock css %}
{% block content %}
  <section>
    <div class="container-fluid overflow-x-hidden">
      <div id="carouselExampleControls"
           class="carousel slide"
           data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.discordapp.com/attachments/1229704465569943563/1231573297066410016/GALARY.png?ex=66377303&is=6624fe03&hm=618fc4706747f69813dd679b25ceec599d5fc017e75a04e89e9824c1a015a999&"
                 class="d-block w-100  justify-content-center"
                 style="max-height: 500px;
                        object-fit: cover;
                        justify-content: center"
                 alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.discordapp.com/attachments/1229704465569943563/1231573297066410016/GALARY.png?ex=66377303&is=6624fe03&hm=618fc4706747f69813dd679b25ceec599d5fc017e75a04e89e9824c1a015a999&"
                 class="d-block w-100  justify-content-center"
                 style="max-height: 500px;
                        object-fit: cover;
                        justify-content: center"
                 alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.discordapp.com/attachments/1229704465569943563/1231573297066410016/GALARY.png?ex=66377303&is=6624fe03&hm=618fc4706747f69813dd679b25ceec599d5fc017e75a04e89e9824c1a015a999&"
                 class="d-block w-100  justify-content-center"
                 style="max-height: 500px;
                        object-fit: cover;
                        justify-content: center"
                 alt="Image 3">
          </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <i class="fas fa-chevron-left"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <i class="fas fa-chevron-right"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row card-home-page justify-content-center">
        <div class="col-md-3">
          <div class="card">
            <div class="circle-icon">
              <i class="fas fa-handshake" style="color: #CA9E67;"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title" style="color: #CA9E67;">استشارة</h5>
              <div class="h-50 align-items-center">
                <p style="color: #CA9E67;">
                  تساعد الاستشارة القانونية المستشير على حماية حقوقه القانونية، ومعرفة الوسائل القانونية المتاحة له .
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <a href="#"
                   class="btn btn-outline-dark w-50 mb-5"
                   style="color: #ca9e67;
                          border-color: #ca9e67">آطلب</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="circle-icon">
              <i class="fas fa-file-contract" style="color: #CA9E67;"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title" style="color: #CA9E67;">صياغة عقود</h5>
              <div class="h-50 align-items-center">
                <p style="color: #CA9E67;">
                  عملية إنشاء وتحرير اتفاقية ملزمة قانونًا بين طرفين أو أكثر، لتحديد حقوقهم ومسؤولياتهم والتزاماتهم
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <a href="#"
                   class="btn btn-outline-dark w-50 mb-5"
                   style="color: #ca9e67;
                          border-color: #ca9e67">آطلب</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="circle-icon">
              <i class="fas fa-book" style="color: #CA9E67;"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title" style="color: #CA9E67;">المذكرات</h5>
              <div class="h-50 align-items-center">
                <p style="color: #CA9E67;">هي كافة الكتابات القانونية المتعلقة بالعمل القانوني أمام المحاكم</p>
              </div>
              <div class="d-flex justify-content-center">
                <a href="#"
                   class="btn btn-outline-dark w-50 mb-5"
                   style="color: #ca9e67;
                          border-color: #ca9e67">آطلب</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="number-section mb-5">
    <h1 class="text-center custom-color">آرقامنا</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card-section ">
            <div class="card-body-2">
              <i class="fas fa-handshake"></i>
              <span>500</span>
              <h5 class="custom-color">استشارات</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-section">
            <div class="card-body-2">
              <i class="fas fa-user"></i>
              <span>200</span>
              <h5 class="custom-color">محامي</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-section">
            <div class="card-body-2">
              <i class="fa fa-users"></i>
              <span>50</span>
              <h5 class="custom-color">عملاء</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
