{% extends "base/base.html" %}
{% block title %}
 مجتمع المحامين
{% endblock title %}
{% block content %}
<div class="container mt-3 justify-content-center">
    <div class="row justify-content-center">
        {% for post in posts %}
        <div class="col-sm-4">
            <div class="card-post mt-3">
                <div class="card-body-post">
                    <div class="post-heading rounded-3">
                        <div class="pull-left image">
                            <img src="{{ post.author.lawyer_profile.image.url }}" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left">
                            <div class="title h5">
                                <a href="{% url "account:profile_view" lawyer.id %}"><b>{{ post.author.lawyer_profile.user.get_full_name }}</b></a> 
                            </div>
                            <h6 class="text-muted time">{{ post.timestamp }}</h6>
                        </div>
                    </div>
                    <div class="post-image p-2">
                        <img src="{{ post.image.url }}" class="image rounded-3" alt="image post">
                    </div>
                    <hr>
                    <div class="post-description mt-3">
                        <h4>{{ post.title }}</h4>
                        <p>{{ post.content }}</p>
                        <div class="stats align-items-center">
                            <a href="javascript:void(0);" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i> Like Count
                            </a>
                            <a href="javascript:void(0);" class="btn btn-default stat-item">
                                <i class="fa fa-bookmark" aria-hidden="true"></i> Bookmark Count
                            </a>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
.card-post {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff9b;
    padding: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

.image {
    width: 350px; 
    height: auto; 
    margin-top: 10px;
    border-radius: 5px;
    justify-content: center;
}


.user {
    font-weight: bold;
}

.time {
    color: #999;
    font-size: 12px;
}

.input-group-addon {
    cursor: pointer;
}
</style>

{% endblock content %}
