
.chat-message {
    list-style: none;
    margin-bottom: 20px;
}

.message-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.message-header {
    display: flex;
    align-items: center;
}

.message-text {
    margin-top: 5px;
}

.left .message-content {
    text-align: left;
    
}

.right .message-content {
    justify-content: start;
    width: auto;
}
.chat-sum{
    border: 3px solid #ca9e67;
    background-color: #fff;
    border-radius: 20px;
}
.input-chat{
    border: none !important;
    width: 20px !important;
}
.ico-chat{
    align-items: center;
    border: #fff;
}

.chat-list {
    list-style-type: none;
    padding: 0;
}


.chat-message {
    margin-bottom: 20px;
    max-width: 80%;
    word-wrap: break-word;
    padding: 10px;
}


.chat-message.right {
    background-color: #f0f0f0;
    border-radius: 10px 10px 10px 0;
    margin-left: auto;
}


.chat-message.left {
    background-color: #f0f0f0;
    border-radius: 10px 10px 10px 0;
    margin-right: auto;
}
