.custom-container {
    background-color: #ffffff; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 25px 0px 25px 0px;
    border: 1px solid;
    border-color: #113344;
}
.service-order{
    font-weight: bold;
}
.file-order {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
