@import url("base.css");

.logo {
  height: 250px;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    opacity: .7;
  }


}

.whous {
  background-color: antiquewhite;
  margin: 3rem;
  padding-inline: 2rem;
  border-radius: 15px;
}

.myalart {
  margin-top: 3rem;
  align-items: center;

  .alert {
    --bs-alert-padding-y: 10px
  }

  .danger-svg {
    height: 2rem !important;
    width: 2rem !important;
    fill: rgb(128, 2, 27);
  }
}