@import url("base.css");
@import url("index_style.css");
@import url('profile.css');

.active {
  color: var(--text-gold) !important;
}

*:focus {
  color: grey !important;
}

.myalart {
  margin-top: 3rem;
  align-items: center;

  .alert {
    --bs-alert-padding-y: 10px
  }

  .danger-svg {
    height: 2rem !important;
    width: 2rem !important;
    fill: rgb(128, 2, 27);
  }
}