{% extends "base/base.html" %}
{% load static %}
{% block title %}
محادثة
{% endblock title %}
{% block content %}
{% include "account/sidebar.html" %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <a href="{% url 'main:index_view' %}" class="btn btn-outline-dark"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <h2 class="mb-4 text-center">المحادثة</h2>
            <ul class="list-unstyled chat-list">
                <li class="chat-message right w-50 ">
                    <div class="message-content">
                        <div class="message-header ">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                alt="avatar" class="rounded-circle ms-3 shadow" width="40">
                            <div class="">
                                <p class="sender-name">المحامي علي</p>
                                <p class="message-time">منذ11 دقيقة</p>
                            </div>
                        </div>
                        <p class="message-text">المعالي هي منصة إلكترونية تعنى بالوساطه لتقديم الاستشارات
                            والخدمات القانونية من خلال ربط نخبة من المحامين المرخصي</p>
                    </div>
                </li>
                
                <li class="chat-message left w-50">
                    <div class="message-content justify-content-start">
                        <div class="message-header">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                                class="rounded-circle ms-3 shadow" width="40">
                            <div class="">
                                <p class="sender-name">نور</p>
                                <p class="message-time">منذ11 دقيقة</p>
                            </div>
                        </div>
                        <p class="message-text">المعالي هي منصة إلكترونية تعنى بالوساطه لتقديم الاستشارات
                            والخدمات القانونية من خلال ربط نخبة من المحامين المرخصي</p>
                    </div>
                </li>
            </ul>
            <div class="chat-sum input-group mt-4 mb-4">
                <textarea id="message-input" class="input-chat form-control rounded-4" rows="1" placeholder="Type your message here..."></textarea>
                <label for="file-upload" class="ico-chat btn btn-outline-dark rounded-4 align-content-center ">
                    <i class="fas fa-file-upload"></i>
                </label>
                <input id="file-upload" type="file" class="form-control" style="display: none;">
                <button id="send-button" class="ico-chat btn btn-outline-dark rounded-4 " type="button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
