<!--djlint:off H021 H006-->
{% extends "base/base.html" %}
{% load static %}
{% block title %}
    محادثة
{% endblock title %}
{% block content %}
    {% include "account/sidebar.html" %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <a href="{% url 'main:index_view' %}" class="btn btn-outline-dark"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <h2 class="mb-4 text-center">المحادثة</h2>
                <ul class="list-unstyled chat-list">
                    {% for comment in comments %}
                        <li class="chat-message
                                   {% if comment.user == request.user %}
                                       right
                                   {% else %}
                                       left
                                   {% endif %}
                                   w-50">
                            <div class="message-content">
                                <div class="message-header ">
                                    <img src="{% if comment.user.role == "Lawyer" %}{{ comment.user.lawyer_profile.image.url }}{% else %}{{ comment.user.customar_profile.image.url }}{% endif %}"
                                         alt="avatar"
                                         class="rounded-circle ms-3 shadow"
                                         width="40">
                                    <div>
                                        <p class="sender-name">{{ comment.user.full_name }}</p>
                                        <p class="message-time">{{ comment.added_date }}</p>
                                    </div>
                                </div>
                                <p class="message-text">{{ comment.content }}</p>
                            </div>
                            <div class="d-flex justify-content-end ms-4">
                                {% if comment.file %}<a cl href="{{ comment.file.url }}">الملف</a>{% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    <li class="chat-message left w-50">
                        <div class="message-content justify-content-start">
                            <div class="message-header">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                                     alt="avatar"
                                     class="rounded-circle ms-3 shadow"
                                     width="40">
                                <div>
                                    <p class="sender-name">نور</p>
                                    <p class="message-time">منذ11 دقيقة</p>
                                </div>
                            </div>
                            <p class="message-text">
                                المعالي هي منصة إلكترونية تعنى بالوساطه لتقديم الاستشارات
                                والخدمات القانونية من خلال ربط نخبة من المحامين المرخصي
                            </p>
                        </div>
                    </li>
                </ul>
                <form action="{{ request.path }}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="chat-sum input-group mt-4 mb-4">
                        <textarea id="message-input"
                                  name="content"
                                  class="input-chat form-control rounded-4"
                                  rows="1"
                                  placeholder="Type your message here..."></textarea>
                        <label for="file-upload"
                               class="ico-chat btn btn-outline-dark rounded-4 align-content-center">
                            <i class="fas fa-file-upload"></i>
                        </label>
                        <input id="file-upload"
                               type="file"
                               name="file"
                               class="form-control"
                               style="display: none">
                        <button id="send-button"
                                class="ico-chat btn btn-outline-dark rounded-4"
                                type="submit">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
