<!--djlint:off H021 H023-->
{% extends "base/base.html" %}
{% load static %}
{% block title %}
    طلب الخدمة
{% endblock title %}
{% block content %}
    {% include "account/sidebar.html" %}
    <div class="container mt-4 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-details">
                    <div class="card-body">
                        <h5 class="card-title">
                            رقم الطلب #<span>{{ order.id }}</span>
                        </h5>
                        <hr>
                        <p class="card-text">
                            عميل : <span>{{ order.customar.full_name }}</span>
                        </p>
                        <p class="card-text">
                            المحامي : <span>{{ order.lawyer.full_name }}</span>
                        </p>
                        <p class="card-text">
                            نوع الخدمة : <span>{{ order.order_type }}</span>
                        </p>
                        <p class="card-text">
                            حالة الخدمة : <span>{{ order.status }}</span>
                        </p>
                        {% if order.file %}
                        <p class="card-text">
                            ملف:
                           <a href="{{ order.file.url }}" target="_blank">انقر هنا</a>   
                        </p>
                        {% endif %}
                        {% if order.status == status_choices.pending_accept_offer %}
                            <p class="card-text">
                                السعر  المعروض : <span>{{ order.price }}</span>
                            </p>
                        {% endif %}
                        <h3 class="mt-4 text-113345">
                            عنوان الطلب : <span class="fs-5 bg-gradient p-2 rounded-4 mx-3">{{ order.subject }}</span>
                        </h3>
                        <h3 class="mt-4 text-113345">وصف الطلب</h3>
                        <div class="row justify-content-start">
                            <div class="col-md-8">
                                <div class="card-law-order mb-2">
                                    <div class="card-body-law">
                                        <p class="card-text">{{ order.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-5 g-4">
                            {% if request.user.role == "Customar" and order.status == status_choices.pending_accept_offer %}
                                <a href="{% url "service:payment_view" order.id %}"
                                   class="btn btn-outline-primary me-2">الدفع</a>
                            {% endif %}
                            {% if request.user.role == "Lawyer" and order.status == status_choices.pending %}
                                <button type="button"
                                        class="btn btn-outline-dark me-2"
                                        data-bs-toggle="modal"
                                        data-bs-target="#offerModal">إضافة عرض</button>
                                <form action="{% url "service:order_details" order.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="status" value="{{ status_choices.rejected }}">
                                    <button type="submit" name="reject-btn" class="btn btn-danger me-2">غير مهتم</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2">

                    {% if request.user.role == order.customar.role or request.user.role == order.lawyer.role %}
                        {% if order.status == status_choices.accepted %}
                            <a href="{% url "service:chat_view" order.id %}"
                               class="btn btn-success me-2">المحادثة</a>
                        {% endif %}
                        
                    {% endif %}
                    {% if order.status == status_choices.accepted %}
                    <form action="{% url "service:order_details" order.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="{{ status_choices.completed }}">
                        <button type="submit" name="completed-btn" class="btn btn-outline-dark ">إنهاء الطلب</button>
                    </form>
                    {% endif %}
                </div>
                {% if order.status == status_choices.completed %}
                    {% if not order.rating and request.user.role == "Customar" %}
                    {% include "service/rating.html" %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="offerModal"
         tabindex="-1"
         aria-labelledby="offerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url "service:order_details" order.id %}"
                          method="post"
                          class="d-flex justify-content-center flex-column">
                        {% csrf_token %}
                        <h3 class=" text-dark ">إضافة مبلغ</h3>
                        <div class="input-group mb-3">
                            <span class="input-group-text">ريال</span>
                            <input type="text"
                                   class="form-control"
                                   name="price"
                                   aria-label="السعر (to the nearest dollar)">
                            <input type="hidden"
                                   name="status"
                                   value="{{ status_choices.pending_accept_offer }}">
                        </div>
                        <button type="submit" name="make_offer" class="btn btn-outline-dark">تقديم العرض</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
