{% extends "base/base.html" %}
{% load static %}
{% block title %}
    طلب الخدمة
{% endblock title %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-details ">
                <div class="card-body ">
                    <h5 class="card-title">رقم الطلب #12345</h5>
                    <p class="card-text">عميل :نورة </p>
                    <p class="card-text">نوع الخدمة: استشارة</p>
                    <p class="card-text">الحالة: تمت الموافقة</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}