{% extends "base/base.html" %}
{% load static %}
{% block title %}
    طلب الخدمة
{% endblock title %}
{% block content %}
{% include "account/sidebar.html" %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-details">
                <div class="card-body">
                    <h5 class="card-title">رقم الطلب #12345</h5>
                    <p class="card-text">عميل : نورة </p>
                    <p class="card-text">نوع الخدمة: استشارة</p>
                    <p class="card-text"></p>
                    <select class="form-select form-select-sm w-25 mb-5" aria-label=".form-select-sm example">
                        <option selected>قيد الانتضار</option>
                        <option value="1">رفض</option>
                        <option value="3">موافقة</option>
                      </select>
                </div>
                <h3 class="">وصف الطلب</h3>
                <div class="row justify-content-start">
                    <div class="col-md-8">
                        <div class="card-law-order mb-2">
                            <div class="card-body-law">
                                <p class="card-text">توفير الحماية القانونية للشركات والمؤسسات أثناء أداء أعمالها، مما يساهم في الحفاظ على نموها واستمراريتها في السوق الحالي.
                                    تساعد الاستشارة القانونية المتنازعين في القضايا على توفير الوقت والجهد، حيث تقدم لهم المساعدة في معرفة الإجراءات والمتطلبات اللازمة لرفع الدعوى، بدلاً من البحث الطويل عنها. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                <a href="#" class="btn btn-outline-dark me-2">إضافة عرض</a>
            </div>
            
            </div>
        </div>
    </div>
</div>


{% endblock %}