{% extends "base/base.html" %}
{% load static %}
{% block title %}
    طلب الخدمة
{% endblock title %}
{% block content %}
    <div class="custom-container container w-75 mt-5 pt-5">
        <form action="{% url "service:order_form" lawyer.id %}"
              method="post"
              enctype="multipart/form-data"
              class="service-form">
            {% csrf_token %}
            <div class="row justify-content-center">
                <h2 class="service-order text-center">طلب الخدمة</h2>
                <div class="col-md-6">
                    <div class="service-order-input">
                        <label for="subject" class="form-label service-order">الموضوع</label>
                        <input type="subject"
                               class="form-control"
                               id="subject"
                               name="subject"
                               required>
                    </div>
                    <div class="service-order-input">
                        <label for="message" class="form-label service-order">تفاصيل الطلب</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                    </div>
                </div>
                <div class="col-md-6 pt-4 mt-3">
                    <div class="service-order-input">
                        <select class="form-select" id="service" name="service" required>
                            {% for sp in lawyer.lawyer_profile.specialty.all %}<option value="{{ sp.id }}">{{ sp.name }}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="service-order-input">
                        <div class="file-order mb-3">
                            <label for="file" class="form-label service-order">
                                <h5 class="text-decoration-underline">
                                    تحميل ملف <i class="fa fa-upload me-2 ms-3" aria-hidden="true"></i>
                                </h5>
                            </label>
                            <input type="file"
                                   class="form-control"
                                   id="file"
                                   name="file"
                                   onchange="displayFileName(this)">
                            <span id="file-name" class="file-name"></span>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark btn-block">إرسال الطلب</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <style>
        .custom-container {
            background-color: #f8f9fa;
            border-radius: 25px 0px 25px 0px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .service-order {
            color: #343a40;
        }

        .service-order-input {
            margin-bottom: 20px;
        }

        .file-order {
            display: flex;
            align-items: flex-end;
        }

        .file-order i {
            font-size: 1.2rem;
            color: #6c757d;
        }

        .file-name {
            display: none;
        }

        .form-label:hover .file-name {
            display: inline;
        }


        .service-form input[type="file"] {
            display: none;
        }

        .service-form label[for="file"] {
            cursor: pointer;
        }

        .btn-dark {
            background-color: #343a40;
            border-color: #343a40;
        }

        .btn-dark:hover {
            background-color: #23272b;
            border-color: #23272b;
        }
    </style>
    <script>
        function displayFileName() {
            const input = document.getElementById('file');
            const label = document.querySelector('.file-order .form-label');

            if (input.files.length > 0) {
                label.innerHTML = `<h5 class="text-decoration-underline"> تحميل ملف <i class="fa fa-upload me-2 ms-3" aria-hidden="true"></i>${input.files[0].name}</h5>`;
            } else {
                label.innerHTML = '<h5 class="text-decoration-underline"> تحميل ملف <i class="fa fa-upload me-2 ms-3" aria-hidden="true"></i></h5>';
            }
        }
    </script>
{% endblock content %}
