{% extends "main/base.html" %}
{% block title %}
   Profile
{% endblock title %}
{% block content %}
   {% if msg %}
      <div class="d-flex flex-column justify-self-center align-self-center w-50">
         <h2 class="align-self-center">{{ msg }}</h2>
      </div>
   {% else %}
      <div class="cards profile">
         {% for user in users %}
            <a class="w-100"
               href="{% url "account:user_profile_view" user.username %}">
               <div class="card mb-4">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-4">
                           <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-8">
                           <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-4">
                           <p class="mb-0">User Name</p>
                        </div>
                        <div class="col-sm-8">
                           <p class="text-muted mb-0">{{ user.username }}</p>
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-4">
                           <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-8">
                           <p class="text-muted mb-0">{{ user.email }}</p>
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         {% endfor %}
      {% endif %}
   </div>
{% endblock content %}
