{% extends "base/base.html" %}
{% block title %}
  منشوراتي
{% endblock title %}
{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        {% if posts %}
            {% for post in posts %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card-my bg-light">
                        <div class="card-body-my">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
                            {% endif %}
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ post.timestamp }}</small>
                            <div class="stats align-items-center">
                                <a href="{% url 'main:like_post' post.id %}" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i> {{ post.total_likes }}
                                </a>
                                {% if request.user.role == "Customar" %}
                                    <a href="{% url 'main:bookmark_post' post.id %}" class="btn btn-default stat-item">
                                        <i class="fa fa-bookmark" aria-hidden="true"></i> {{ post.total_bookmarks }}
                                    </a>
                                {% endif %}
                                {% if request.user.role == "Lawyer" %}
                                <form action="{% url 'main:delete_post' post.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
