{# djlint:off H023 H006 #}
{% extends "main/base.html" %}
{% load tags %}
{% block title %}
  السلة
{% endblock title %}
{% block content %}
  <h3>سلة التسوق</h3>
  <div class="cart-wrapper">
    {% if cart|length == 0 %}
      <h2 class="text-center">لا يوجد لديك منتجات في السلة</h2>
    {% else %}
      {% for item in cart %}
        <div class="cart-grid">
          <a href="{% url "product:product_detail_view" item.product.id %}">
            <img src="{{ item.product.Images.first.image.url }}" alt="">
          </a>
          <a href="{% url "product:product_detail_view" item.product.id %}">
            <h6>{{ item.product.name }}</h6>
          </a>
          <div class="d-flex flex-column price-qauntity">
            <span class="fs-4">{{ item.product.price }}&nbsp;<span class="price-symbol">ريال</span></span>
            <form action="{% url "account:cart_view" request.user.username %}"
                  method="post">
              {% csrf_token %}
              {% if msg %}
                <div class="d-flex w-100 justify-content-center">
                  <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <span class="px-3 text-danger-emphasis">{{ msg }}</span>
                  </div>
                </div>
              {% endif %}
              <div class="d-flex flex-column add-btn gap-2">
                <select name="quantity" tabindex="-1" aria-hidden="true">
                  {% for i in in_stock|range:item.product.in_stock %}
                    <option value="{{ i }}" {% if i == item.quantity %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                <!-- /.quantity-selector -->
                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                <button type="submit"
                        class="product-btn-add-to-cart m-0"
                        id="product-btn-update"
                        {% if not item.product.in_stock > 0 %}disabled{% endif %}></button>
              </div>
            </form>
            <div class="d-flex justify-content-center">
              <a class="material-symbols-outlined text-danger"
                 href="{% url "account:delete_product_view" request.user.username item.id %}">delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-end total">
      <span><span>المجموع</span>:&nbsp;&nbsp;&nbsp;{{ total }}</span>
    </div>
  </div>
{% endblock content %}
