{# djlint:off H030,H031 H021 D018 H006 #}
{% extends "base/base.html" %}
{% load static %}
{% block title %}
  الملف الشخصي
{% endblock title %}
{% block css %}
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
        rel='stylesheet'>
  <style>
      .order-button {
          background-color: rgb(255, 255, 255);
          height: 40px;
          width: 100px;
          border: 1px solid black;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 10px;
      }

      .order-button:hover {
          background-color: black;
          color: white;
          border: 1px solid white;
          border-radius: 10px;

      }

      .order-button-2 {
          background-color: rgb(255, 255, 255);
          height: 40px;
          width: 130px;
          border: 1px solid black;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: black;
          padding: 10px;
      }

      .order-button-2:hover {
          background-color: black;
          color: white;
          border: 1px solid white;
          border-radius: 10px;

      }
  </style>
{% endblock css %}
{% block content %}
  {% if request.user == user %}
    {% include "account/sidebar.html" %}
  {% endif %}
  <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card-profile border-profile">
            <div class="rounded-top text-white d-flex flex-row"
                 style="background-repeat: no-repeat; background-size: cover; height: 261px; background-image: url('{{ user_profile.bannar.url }}')">
              <div class="ms-4  d-flex flex-column"
                   style="width: 150px; margin-top: 130px; margin-right: 20px">
                   <img src="{{ user_profile.image.url }}" alt="User profile image" class="img-fluid img-thumbnail mt-2 pt mb-2 rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                    </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end">
                <ul class="list-unstyled d-flex gap-3 ">
                  {% for sp in user.lawyer_profile.specialty.all %}
                    <li>{{ sp }}</li>
                    {% if not forloop.last %}{% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="d-flex justify-content-between   align-items-center">
                <div class="ms-3 text-dark d-flex align-items-center gap-2">
                  <h5 class="mt-2">{{ user.full_name }}</h5>
                  <!-- علامة التوثيق للمحامي -->
                  {% if user.role == "Lawyer" and user.lawyer_profile.certified %}
                    <i title="محامي موثوق" class="fa-solid fa-badge-check text-success"></i>
                  {% endif %}
                  {% if request.user == user %}
                    <a href="{% url 'account:update_profile_view' request.user.pk %}"><i class="fa fa-pencil " aria-hidden="true"></a></i>
                {% endif %}
              </div>
              {% if request.user.role == "Lawyer" and request.user == user %}
                <button type="button"
                        class="{% if not user.lawyer_profile.certified %}
                                 btn-white rounded-2 p-2 text-light-emphasis
                               {% else %}
                                 order-button-2
                               {% endif %}"
                        data-bs-toggle="modal"
                        {% if not user.lawyer_profile.certified %}disabled{% endif %}
                        data-bs-target="#postModal">إضافة منشور</button>
              {% endif %}
              {% if request.user.role == "Customar" and user.role == "Lawyer" %}
                <a href="{% url 'service:order_form' lawyer.id %}" class="order-button">اطلب خدمة</a>
              {% endif %}
            </div>
          </div>
          <div class="card-body bg-white p-4 text-black">
            <div class="mb-5">
              <p>نبذة</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ user.lawyer_profile.about }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              {% if request.user.role == "Lawyer" %}
                  <p class="lead fw-normal mb-0">المنشورات</p>
                  <p class="mb-0">
                      <a href="#!" class="text-muted">جميع المنشورات</a>
                  </p>
              {% elif request.user.role == "Customar" %}
                  <p class="lead fw-normal mb-0">المنشورات المحفوظة</p>
                  <p class="mb-0">
                      <a href="#!" class="text-muted">جميع المنشورات المحفوظة</a>
                  </p>
                  {%%}
              {% endif %}
          </div>
          <hr>
          {% for post in posts %}
              <div class="card-post mb-3">
                  {% if post.image %}
                      <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
                  {% endif %}
                  <div class="card-header">{{ post.title }}</div>
                  <div class="card-body-post">
                      <p class="card-text">{{ post.content }}</p>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">{{ post.timestamp }}</small>
                  </div>
                  <div class="stats align-items-center">
                      <a href="{% url 'main:like_post' post.id %}" class="btn btn-default stat-item">
                          <i class="fa fa-thumbs-up icon"></i> {{ post.total_likes }}
                      </a>
                      {% if request.user.role == "Customar" %}
                          <a href="{% url 'main:bookmark_post' post.id %}" class="btn btn-default stat-item">
                              <i class="fa fa-bookmark" aria-hidden="true"></i> {{ post.total_bookmarks }}
                          </a>
                      {% endif %}
                  </div>
              </div>
          {% endfor %}
          
            <div class="row g-2"></div>
          </div>
          <div class="row g-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade"
       id="postModal"
       tabindex="-1"
       aria-labelledby="postModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mb-5">
      <div class="modal-content">
        <div class="modal-header flex-column-reverse">
          <h3 class="modal-title" id="postModalLabel">إنشاء منشور</h3>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'account:profile_view' request.user.id %}"
                method="post"
                enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="postSubject" class="form-label">العنوان</label>
              <input type="text"
                     class="form-control"
                     id="postSubject"
                     name="title"
                     placeholder="ادخل عنوان">
            </div>
            <div class="mb-3">
              <label for="postImage" class="form-label">إضافة صورة</label>
              <input type="file" name="image" class="form-control" id="postImage">
            </div>
            <div class="mb-3">
              <label for="postDescription" class="form-label">المقالة</label>
              <textarea name="content" class="form-control" id="postDescription" rows="3"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">رجوع</button>
              <button type="submit" class="order-button-2">نشر</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}