<!--djlint:off H021-->
<!-- client tab -->
<div class="tab-pane show active fade"
     id="profile"
     role="tabpanel"
     aria-labelledby="profile-tab">
   <div class="mb-4 d-flex flex-column justify-content-center align-items-center">
      <h3 class="text-center  mt-4">انشاء حساب عميل</h3>
      {% if msg %}
         <svg xmlns="http://www.w3.org/2000/svg" class="d-none h-100">
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
         </svg>
         <div class="d-flex w-100 justify-content-center myalart">
            <div class="alert alert-danger d-flex align-items-center w-75"
                 role="alert">
               <svg class="bi flex-shrink-0 me-2 danger-svg"
                    role="img"
                    aria-label="Danger:">
                  <use xlink:href="#exclamation-triangle-fill" />
               </svg>
               <span class="px-3 text-danger-emphasis">{{ msg }}</span>
            </div>
         </div>
      {% endif %}
      <div class="form d-flex flex-column justify-content-center form-width">
         <form action="{% url 'account:sign_up_view' %}"
               method="post"
               class="d-flex flex-column gap-2"
               enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="role" value="Customar">
            <label class="form-label mb-0 mt-2">الاسم الثلاثي:</label>
            <input name="full_name"
                   class="form-control"
                   style="width: 100%"
                   type="text"
                   value="{{ post.full_name }}"
                   minlength="3"
                   required
                   placeholder="قم بكاتبة اسمك هنا" />

            <label class="form-label mb-0 mt-2">الهوية الوطنية:</label>
            <input name="national_id"
                   class="form-control"
                   style="width: 100%"
                   type="text"
                   value="{{ post.national_id }}"
                   maxlength="10"
                   required
                   placeholder="قم بكاتبة هويتك هنا" />
            <label class="form-label mb-0 mt-2">البريد الالكتروني</label>
            <input name="email"
                   class="form-control"
                   type="email"
                   value="{{ post.email }}"
                   required
                   placeholder="قم بوضع بريدك الالكتروني هنا" />
            <label class="form-label mb-0 mt-2">الجوال</label>
            <input name="phone"
                   class="form-control"
                   type="text"
                   maxlength="10"
                   value="{{ post.phone }}"
                   pattern="^05[0-9]{4}[0-9]{4}$"
                   required
                   placeholder="05XXXXXXXX" />
            <label class="form-label mb-0  mt-2">كلمة السر</label>
            <input name="password"
                   id="password_2"
                   class="form-control"
                   type="password"
                   minlength="6"
                   onkeyup='check();'
                   required
                   placeholder="كلمة السر" />
            <span class="text-end message"></span>
            <label class="form-label mb-0  mt-2">تأكيد كلمة السر</label>
            <input name="confirm_password"
                   id="confirm_password_2"
                   class="form-control"
                   type="password"
                   minlength="6"
                   onkeyup='check();'
                   required
                   placeholder="تأكيد كلمة السر" />
            <span class="text-end message"></span>
            <input type="submit"
                   class="btn my-2 text-white"
                   style="background-color:#113345"
                   value="سجل" />
         </form>
         <span>لديك بالفعل حساب؟ <a href="{% url 'account:login_view' %}">تسجيل الدخول هنا</a> </span>
      </div>
   </div>
</div>
<!-- end client tab -->
