<!--djlint:off H021-->
<div class="tab-pane fade show"
     id="home"
     role="tabpanel"
     aria-labelledby="home-tab">
   <div class="container mb-4 active d-flex flex-column justify-content-center align-items-center b=">
      <h3 class="text-center  mt-4 mb-5">انشاء حساب محامي</h3>
      {% if msg %}
         <svg xmlns="http://www.w3.org/2000/svg" class="d-none h-100">
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
         </svg>
         <div class=" d-flex w-100 justify-content-center myalart">
            <div class="alert alert-danger d-flex align-items-center w-75"
                 role="alert">
               <svg class="bi flex-shrink-0 me-2 danger-svg"
                    role="img"
                    aria-label="Danger:">
                  <use xlink:href="#exclamation-triangle-fill" />
               </svg>
               <span class="px-3 text-danger-emphasis">{{ msg }}</span>
            </div>
         </div>
      {% endif %}
      <div class="form d-flex flex-column justify-content-center ">
         <form action="{% url 'account:sign_up_view' %}"
               method="post"
               class="d-flex flex-column gap-2"
               enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="role" value="Lawyer">
            <div class="container">
               <div class="row gap-4 d-flex ">
                  <div class="col-6">
                     <label class="form-label mb-0 mt-2">الاسم الثلاثي:</label>
                     <input name="full_name"
                            class="form-control"
                            type="text"
                            minlength="3"
                            value="{{ post.full_name }}"
                            required
                            placeholder="قم بكاتبة اسمك هنا" />
                     <label class="form-label mb-0  mt-2">البريد الالكتروني:</label>
                     <input name="email"
                            class="form-control"
                            type="email"
                            value="{{ post.email }}"
                            required
                            placeholder="قم بوضع بريدك الالكتروني هنا" />
                     <label class="form-label mb-0  mt-2">الهوية:</label>
                     <input name="national_id"
                            class="form-control"
                            type="text"
                            value="{{ post.national_id }}"
                            maxlength="10"
                            pattern="^1[0-9]{9}$"
                            required
                            placeholder="1XXXXXXXXX" />
                     <div class="d-flex gap-2">
                        <div>
                           <label class="form-label mb-0  mt-2">كلمة السر:</label>
                           <input name="password"
                                  id="password_1"
                                  class="form-control"
                                  type="password"
                                  minlength="6"
                                  onkeyup='check();'
                                  required
                                  placeholder="كلمة السر" />
                           <span class="text-end message"></span>
                        </div>
                        <div>
                           <label class="form-label mb-0  mt-2">تأكيد كلمة السر:</label>
                           <input name="confirm_password"
                                  id="confirm_password_1"
                                  class="form-control"
                                  type="password"
                                  minlength="6"
                                  onkeyup='check();'
                                  required
                                  placeholder="تأكيد كلمة السر" />
                        </div>
                     </div>
                     <div class="d-flex gap-3 align-items-center justify-content-between ">
                        <div class="d-flex flex-column  align-items-center column-gap-2">
                           <label class="form-label mb-1">الجنس:</label>
                           <div class=" d-flex gap-1">
                              <div class="d-flex gap-1">
                                 <input class="form-check-input"
                                        type="radio"
                                        id="male"
                                        name="gender"
                                        value="male"
                                        checked>
                                 <label for="male">ذكر</label>
                              </div>
                              <div class="d-flex gap-1">
                                 <input class="form-check-input"
                                        type="radio"
                                        id="female"
                                        name="gender"
                                        value="female">
                                 <label for="female">انثى</label>
                              </div>
                           </div>
                        </div>
                        <div>
                           <label class="form-label mb-0  mt-2">الجوال</label>
                           <input name="phone"
                                  class="form-control"
                                  type="text"
                                  maxlength="10"
                                  pattern="^05[0-9]{4}[0-9]{4}$"
                                  required
                                  value="{{ post.phone }}"
                                  placeholder="05XXXXXXXX" />
                        </div>
                     </div>
                  </div>
                  <div class="col-4 gap-2">
                     <div class="d-flex flex-column gap-3">
                        <div class="d-flex flex-column">
                           <label for="category">التخصصات:</label>
                           <div class="dropdown mt-2">
                              <div class="btn-style-1">اختر تخصصاتك</div>
                              <div class="dropdown-content ">
                                 {% for key,val in Specialty %}
                                    <label>
                                       <input type="checkbox"
                                              name="specialty"
                                              value="{{ key }}"
                                              class="dropdown-input">
                                       {{ val }}
                                    </label>
                                 {% endfor %}
                              </div>
                           </div>
                        </div>
                        <div>
                           <label for="image">الصورة الشخصية:</label>
                           <input type="file" name="image" class="form-control mt-1 input-width">
                        </div>
                        <div>
                           <label for="Qualification">المؤهل العلمي:</label>
                           <input type="file"
                                  class="form-control input-width mt-1"
                                  name="Qualification"
                                  id="Qualification">
                        </div>
                        <div>
                           <label>الرخصة:</label>
                           <input type="file"
                                  class="form-control mt-1 input-width"
                                  name="licence"
                                  id="licence">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <input type="submit"
                   class="btn  my-2 text-white"
                   style="background-color:#113345"
                   value="سجل" />
         </form>
         <span>ليس لديك حساب؟<a href="{% url 'account:login_view' %}">سجل من هنا</a> </span>
      </div>
   </div>
</div>
<!-- end lawyers tab -->
