{% extends "base/base.html" %}
{% load static %}
{% block css %}

   <link rel="stylesheet" href="{% static "css/sign_up.css" %}">
   <style>
       .container-bady::before {
           content: "";
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           opacity: .7;
           background: url("/static/images/sign_up_background.jpg");
           background-position: center;
           background-size: cover;
           background-attachment: fixed;
       }
   </style>
{% endblock css %}
{% block title %}
   انشاء حساب
{% endblock title %}
{% block content %}
   <div class="container d-flex justify-content-center background">
      <ul class="nav nav-underline mt-4">
         <li class="nav-item ms-2" role="presentation">
            <button class="nav-link active text-dark"
                    id="profile-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#profile"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">حساب جديد للعميل</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link  text-dark"
                    id="home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#home"
                    type="button"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true">حساب جديد للمحامي</button>
         </li>
      </ul>
   </div>
   <div class="tab-content" id="myTabContent">

      {% include "account/sign_up_lawyer.html" %}
      <!-- client tab -->
      {% include "account/sign_up_client.html" %}
      <!-- end client tab -->
   </div>
{% endblock content %}
