<!--djlint:off H021-->
{% extends "base/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    <style>
        .container-bady::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .7;
            background: url("/static/images/sign_up_background.jpg");
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        .align-items-center .text-gold {
            color: #CA9E67;
            font-size: 16px;
        }

        .form-label {
            color: #113345;
        }
    </style>
{% endblock css %}
{% block title %}
    تحديث حساب
{% endblock title %}
{% block content %}
    <div class="container py-4 d-flex flex-column justify-content-center align-items-center">
        <h3 class="text-center mt-4 mb-5">تحديث الحساب</h3>
        {% if msg %}
            <div class="alert alert-danger d-flex align-items-center justify-content-center w-100"
                 role="alert">
                <svg class="bi flex-shrink-0 me-2"
                     role="img"
                     aria-label="Danger:"
                     width="24"
                     height="24"
                     fill="currentColor">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <span>{{ msg }}</span>
            </div>
        {% endif %}
        {% if request.user.role == "Lawyer" %}
            <!-- start lawyer tab -->
            {% include "account/update_profile_lawyer.html" %}
            <!-- end lawyer tab -->
        {% elif request.user.role == "Customar" %}
            <!-- start client tab -->
            {% include "account/update_profile_customar.html" %}
            <!-- end client tab -->
        {% endif %}
    </div>
{% endblock content %}
