{# djlint:off H030,H031 H020 D018 #}
{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-5zVjzDOQ+1FhzCU1UM8y++iPjsqSmE/W+nUJg8rWvBvSfo/K0UO5RBDAX+HSLKxZ" crossorigin="anonymous"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/stayle.css" %}" rel="stylesheet" />
    {% block css %}
    {% endblock css %}
    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> {% endcomment %}
    <script src="{% static "js/index.js" %}"></script>
    {% block js %}
    {% endblock js %}
    <link rel="icon" href="{% static "icons/gold-icon.png" %}" sizes="any" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Archivo+Black&family=Caveat+Brush&family=Racing+Sans+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <header>
        {% include "base/navbar.html" %}
      </header>
      <section class="container-bady overflow-x-hidden">
        {% block content %}
        {% endblock content %}
      </section>
      {% include "base/footer.html" %}
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static "js/index.js" %}"></script>
  </body>
</html>
