{# djlint:off H006#}
<footer class="d-flex flex-wrap justify-content-between pb-2 align-items-center border-top">
  <div class="d-flex flex-column align-items-center pe-5">
    <span class="mb-3 mb-md-0 text-body-secondary">معلومات التواصل</span>
    <span class="mb-3 mb-md-0 text-body-secondary">920000000</span>
    <span class="mb-3 mb-md-0 text-body-secondary">sapport@Excellency.com</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-body-secondary" href="#">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="#">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="#">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
  </ul>
</footer>
