{# djlint:off H006,H021 #}
{% load static %}
<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #113345;
    padding-top: 2px;
}

footer img {
    max-width: 100%;
}

@media (max-width: 768px) {
    footer {
        justify-content: center;
        text-align: center;
    }
    footer .col-md-2, footer .col-md-4, footer .col-md-6 {
        width: 100%;
        display: block;
    }
    footer .d-flex {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    footer .d-flex {
        flex-direction: column;
    }
    footer ul {
        padding: 0;
    }
    footer ul li {
        margin: 0 10px;
    }
}

</style>
{% load static %}
<footer class="d-flex flex-wrap justify-content-center align-items-center border-top pt-2" style="background-color:#113345">
    <div class="col-12 col-sm-4 text-center mb-3 mb-sm-0">
        <img src="{% static 'icons/gold-icon.png' %}" width="50px" alt="">
    </div>
    <div class="col-12 col-sm-4 text-center mb-3 mb-sm-0">
        <p class="text-gold fs-6">©2024 المعالي, جميع الحقوق محفوظة</p>
    </div>
    <div class="col-12 col-sm-4 text-center">
        <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li class="mx-2">
                <a href="#">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
            </li>
            <li class="mx-2">
                <a href="#">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </li>
            <li class="mx-2">
                <a href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
