{# djlint:off H006#}
{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light ">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand ps-5" href="{% url 'main:index_view' %}">
      <img src="{% static 'icons/gold-icon.png' %}"
           alt="Brand Image"
           height="60px">
    </a>
    <!-- Toggle button -->
    <button class="navbar-toggler me-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fa-solid fa-bars opacity-50"></i>
    </button>
    <!-- Collapsible wrapper. -->
    <div class="collapse navbar-collapse justify-content-between"
         id="navbarNav">
      {% url "main:index_view" as home_page %}
      {% url "main:contactus_view" as contactus_page %}
      {% url "main:lawyers_view" as lawyers_page %}
      <!-- Left links -->
      <ul class="navbar-nav justify-content-between p-0 align-items-center flex-row-reverse">
        <li class="nav-item">
          <a class="nav-link
                    {% if request.path == contactus_page %}active{% endif %}"
             href="{{ contactus_page }}">تواصل</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
                    {% if request.path == lawyers_page %}active{% endif %}"
             href="{{ lawyers_page }}">المحامين</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
                    {% if request.path == home_page %}active{% endif %}"
             href="{{ home_page }}">الرئيسية</a>
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex gap-2 justify-content-center">
        {% if not request.user.is_authenticated %}
          <a href="{% url 'account:sign_up_view' %}"
             type="button"
             class="btn nav-link btn-link px-3 me-2">تسجيل</a>
          <a href="{% url 'account:login_view' %}"
             class="btn nav-link btn-link px-3 me-2">تسجيل الدخول</a>
        {% else %}
          <a href="{% url "account:profile_view" request.user.pk %}"
             class="btn nav-link btn-link px-3 me-2">مرحبا {{ request.user.full_name }}</a>
          <a href="{% url "account:logout_view" %}"
             class="btn nav-link btn-link px-3 me-2">تسجيل الخروج</a>
        {% endif %}
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
